//<МИКСИНЫ>===============================================================================================
@import "mixins";

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap);

//<Иконочные шрифты>==========================================================================================


//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1184;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	width: 100%;
	padding: 0 10px;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms";
// @import "ui";


//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

@media (max-width:750px){
	body.lock{
		overflow: hidden;
	}
	.header__body {
		height: 50px;
	}
	.header__logo {
		flex: 0 0 40px;
	}
	.header__burger {
		display: block;
		width: 40px;
		height: 30px;
		position: relative;
		z-index: 3;
		right: 70px;
		top: 85px;
	}
	.header__burger span{
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		top: 13px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 4px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}

	.header__burger.active span{
		transform: scale(0);
	}

	.header__burger.active:before{
		transform:rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform:rotate(-45deg);
		bottom: 16px;
	}

	.main-navigation {
		z-index: 2;
		position: fixed;
		max-width: 100%;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #000;
		opacity: 0.9;
		padding: 70px 10px 20px 10px;
	}

	.main-navigation.active{
		top: 0;
	}

	.main-navigation__list {
		display: block;
		text-align: center;
	}
	.menu-item{
		padding: 0 0 50px 0;
	}
	.main-navigation__list a{
		font-weight: 800;
		font-size: 35px;
		color: #fff;
	}
	.menu-item {
		font-size: 24px;
	}
}

//========================================================================================

._gradient{
	background: rgb(255,191,95);
	background: linear-gradient(100deg, rgba(255,191,95,1) 39%, rgba(162,77,191,1) 100%);
}


.main-header {
	display: flex;
	justify-content: space-between;
	margin: 0px 0px 50px 0px;
		// .main-header__logo
		&__logo {
			z-index: 3;
			display: inline-block;
			margin: 55px 0px 0px -13px;
			position: relative;
			top: -15px;
			@media (max-width: 750px) {
				position: relative;
				left: 5%;
			}
		}
		// .main-header__widget
		&__widget {
		}
}
.main-navigation {
	flex: 1 1 auto;
	max-width: 400px;
	@media (max-width: 990px) {
		max-width: 300px;
	}
		// .main-navigation__list
		&__list {
			margin: 100px 0px 0px 0px;
			display: flex;
			justify-content: space-between;
			font-family: Montserrat;
		}
}
.menu-item {
	margin: 0px 20px 0px 20px;
	text-decoration: none;
	@media (max-width: 990px) {
		margin: 0px 10px 0px 10px;
	}
	a {
		color: #000;
	}
}
.widget-contacts {
		margin: 100px 0px 0px 0px;
		// .widget-contacts__logo
		&__logo {}
		// .widget-contacts__phone
		&__phone {
			font-family: Montserrat;
			font-weight: 500;
			text-decoration: none;
			color: #000;
			@media (max-width: 750px) {
				color: #fff;
				font-size: 35px;
				display: flex;
				justify-content: center;
			}
		}
}
.intro {
	position: relative;
	z-index: 1;
	top: 150px;
	@media (max-width: 990px) {
		top: 50px;
		left: 22%;
	}
	// .intro__slogan
	&__slogan {
		font-family: Montserrat;
		font-weight: 700;
		font-size: 35px;
		margin: 0px 0px 40px 0px;
		@media (max-width: 990px) {
			width: 450px;
			text-align: center;
		}
	}
	// .intro__title
	&__title {
		margin: 0px 0px 35px 0px;
		font-family: Montserrat;
		font-weight: 300;
		width: 370px;
		line-height: 15px;
		@media (max-width: 990px) {
			width: 450px;
			text-align: center;
			
		}

	}
	// .intro__service-btn
	&__service-btn {
		@media (max-width: 990px) {
			position: relative;
			left: 110px;
		}
	}
	// .intro__banner
}
.banner{
	background: url(../img/Banner_photo.png) no-repeat bottom right;
	height: 616px;
	position: relative;
	left: 0px;
	top: 0px;
	@media (max-width: 1200px) {
		transform: scale(0.9, 0.9);
		left: 58px;
		top: 49px;
	}
	@media (max-width: 990px) {
		transform: scale(0.9, 0.9);
		left: 49px;
		top: 49px;
	}
}
.service-btn {
	background: linear-gradient(102.42deg, #FFA032 26.85%, #F07E45 69.7%);
	border-radius: 60px;
	width: 220px;
	height: 60px;
	// .service-btn__title
	&__title {
		font-family: Montserrat;
		font-weight: 800;
		line-height: 18px;

	}
}