//<МИКСИНЫ>===============================================================================================
@import "mixins";

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap);

//<Иконочные шрифты>==========================================================================================


//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";

//<ПЕРЕМЕННЫЕ>===========================================================================================================

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1184;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 15px;
	&._lock {
		overflow: hidden;
	}
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	width: 100%;
	padding: 0 20px;
	@media (max-width: $md1+px) {
		max-width: 970px;
		padding: 0 20px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
		padding: 0 20px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 20px;
	}
}


//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
@media (max-width: 769px) {
	body.lock{
		overflow: hidden;
	}

	.main__burger {
		display: block;
		width: 40px;
		height: 30px;
		position: absolute;
		z-index: 3;
		right: 60px;
		top: 95px;
		background: transparent;
		@media (max-width: 425.99px) {
			right: 20px;
			top: 74px;
		}
	}
	.main__burger span{
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		top: 13px;
		transition: all 0.3s ease 0s;
	}
	.main__burger:before,
	.main__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 4px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.main__burger:before{
		top: 0;
	}
	.main__burger:after{
		bottom: 0;
	}

	.main__burger.active span{
		transform: scale(0);
	}

	.main__burger.active:before{
		transform:rotate(45deg);
		top: 13px;
	}
	.main__burger.active:after{
		transform:rotate(-45deg);
		bottom: 13px;
	}

	.main-navigation {
		z-index: 2;
		position: fixed;
		max-width: 100%;
		top: -120%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #000;
		opacity: 0.9;
		padding: 70px 10px 20px 10px;
		display: flex;
		@media (max-width: 769px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}

	.main-navigation.active{
		top: -36px;
	}

	.main-navigation__list {
		display: block;
	}
	.menu-item{
		padding: 0 0 50px 0;
		
	}
	.main-navigation__list a{
		font-weight: 800;
		font-size: 35px;
		color: #fff;
	}
	.menu-item {
		font-size: 24px;
	}
}

.container {
	position: relative;
}
._container-height{
	@media (max-width: 500.99px) {
		height: 520px;
	}
}
.scroll{
	position: fixed;
	z-index: 10;
	right: 1%;
	bottom: 2%;
	background: url(../img/submit_arrow.png) center center/60% no-repeat #D2D1D2;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	opacity: 1;
	transition: all 1s ease 0s;
	transform: translateY(100px);
	transition: all .5s ease;
	@media (max-width: 768.99px) {
		display: none;
	}
}
.showBtn {
	opacity: 1;
	transform: translateY(0);
	transform: rotate(-90deg);
}

.bg-grad {
	width: 100%;
	height: 800px;
	position: absolute;
	z-index: -2;
	background: linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
	@media (max-width: 500.99px) {
		height: 674px;
	}
}

.bg-banner{
	width: 885px;
	height: 616px;
	position: absolute;
	top: 280px;
    right: -300px;
	z-index: -1;
	transform: scale(0.7);
	background: url(../img/Banner_photo.png);
	@media (max-width: 1196.99px) {
		transform: scale(0.6);
		margin: 0px 0px 29px 0px;
	}
	@media (max-width: 769.99px) {
		margin: 0px 0px 15px 0px;
	}
	@media (max-width: 617.99px) {
		margin: 0px 0px 50px 0px;
		right: -177px;
	}
	@media (max-width: 500.99px) {
		transform: scale(0.35);
		top: 260px;
		left: -100px;
	}
	@media (max-width: 425.99px) {
		margin: 0px 0px 0px 0px;
		left: -173px;
	}
	@media (max-width: 320.99px) {
		left: -278px;
	}
}

.main-header {
	display: flex;
	align-items: center;
	margin: 50px 0px 235px 0px;
	justify-content: space-between;
	@media (max-width: 1025px) {
		margin: 50px 0px 150px 0px;
	}
	@media (max-width: 991.99px) {
		display: inline-flex;
		justify-content: center;	
	}
	@media (max-width: 768.99px) {
		margin: 0px 0px 100px 0px;
	}
	@media (max-width: 425.99px) {
		margin: 30px 0px 50px 0px;
	}
		// .main-header__logo
		&__logo {
			flex: 0 1 auto;
			margin: 0px 200px 0px 0px;
			@media (max-width: 1024px) {
				margin: 0px 100px 0px 0px;
			}
			@media (max-width: 991.99px) {
				margin: 0px 40px 0px 0px;
			}
			@media (max-width: 769px) {
				position: relative;
				left: 50px;
				top: 50px;
				z-index: 3;
			}
			@media (max-width: 426px) {
				position: static;
				flex: 1 1 auto;
			}
		}
		// .main-header__widget
		&__widget {}
}
.header {
		// .header__burger
		&__burger {}
}
.main-navigation {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	margin: 36px 0px 0px 0px;
	@media (max-width: 991.99px) {
		flex: 0 0 auto;
	}
	// .main-navigation__list
	&__list {
		display: flex;
		@media (max-width: 991.99px) {
			margin: 0px 40px 0px 20px;
		}
		:last-child{
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: 1024px) {
			:last-child{
				margin: 0px 40px 0px 0px;
				@media (max-width: 769px) {
					margin: 0px 0px 0px 0px;
				}
				@media (max-width: 991.99px) {
					margin: 0px 10px 0px 0px;
				}
			}	
		}
		a{
			text-decoration: none;
			color: #000;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				background: #000;
				left: 0;
				bottom: -4px;
				transition: 0.3s;
				transform: scale(0);
				transform-origin: left;
			}
			&:hover:before {
				transform: scale(1);
			}
		}
	}	
}
.menu-item {
	margin: 0px 50px 0px 0px;
	@media (max-width: 1024px) {
		margin: 0px 15px 0px 0px;
	}
	@media (max-width: 769px) {
		padding: 0 0 50px 0;
		margin: 0px 0px 0px 0px;
	}
}
.widget-contacts {
	@media (max-width: 991.99px) {
		width: 170px;
	}
		// .widget-contacts__logo
		&__logo {
			@media (max-width: 769px) {
				display: none;
			}
		}
		// .widget-contacts__phone
		&__phone {
			text-decoration: none;
			color: #000;
			font-family: Montserrat;
			font-weight: 500;
			@media (max-width: 769px) {
				color: #fff;
				font-size: 24px;
				font-weight: 800;
			}
		}
}
.intro {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	margin: 0px 0px 355px 0px;
	@media (max-width: 1024px) {
		margin: 0px 0px 440px 0px;
	}
	@media (max-width: 769px) {
		margin: 0px 0px 540px 0px;
	}
	@media (max-width: 426px) {
		margin: 0px 0px 440px 0px;
		align-items: center;
	}
	@media (max-width: 320px) {
		margin: 0px 0px 360px 0px;
	}
		// .intro__slogan
		&__slogan {
			font-family: Montserrat;
			font-weight: 700;
			font-size: 35px;
			margin: 0px 0px 30px 0px;
			@media (max-width: 426px) {
				display: none;
			}
		}
		// .intro__slogan2
		&__slogan2{
			font-family: Montserrat;
			font-weight: 700;
			font-size: 35px;
			display: none;
			text-align: center;
			@media (max-width: 426px) {
				display: block;
			}
		}
		&__slogan3{
			font-family: Montserrat;
			font-weight: 700;
			font-size: 35px;
			margin: 0px 0px 30px 0px;
			display: none;
			text-align: center;
			@media (max-width: 426px) {
				display: block;
			}
		}
		// .intro__title
		&__title {
			font-family: Montserrat;
			font-weight: 300;
			font-size: 16px;
			margin: 0px 0px 30px 0px;
			width: 350px;
			@media (max-width: 426px) {
				text-align: center;
			}
			@media (max-width: 321px) {
				width: 275px;
				text-align: center;
			}
		}
		// .intro__service-btn
		&__service-btn {
			display: inline-block;
			text-align: center;
			width: 209px;
			position: relative;
			background: #fff;
			padding: 27px 0px 27px 0px;
			border-radius: 35px;
			font-family: Montserrat;
			font-weight: 800;
			text-align: center;
			background: linear-gradient(to left, #ffa032, #fd9737, #f98e3c, #f68641, #f17e45);
			@media (max-width: 425.99px) {
				padding: 20px 0px 20px 0px;
			}
			a{
				color: #000;
				position: relative;
				z-index: 1;
			}
			&:before{
			content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(to right, #ffa032, #fd9737, #f98e3c, #f68641, #f17e45);
				border-radius: 35px;
				opacity: 0;
				transition: all 0.4s ease 0s;
			}
			&:hover:before{
				opacity: 1;
			}
		}
}


//================Section why==============
.why {
	display: flex;
	flex-direction: column;
	margin: 0px 0px 245px 0px;
	@media (max-width: 768.99px) {
		margin: 0px 0px 30px 0px;
	}
	// .why__title
	&__title {
		margin: 0px 0px 180px 0px;
		font-family: Montserrat;
		font-weight: 700;
		font-size: 35px;
		@media (max-width: 768.99px) {
			align-self: center;
			margin: 0px 0px 80px 0px;
		}
		@media (max-width: 425.99px) {
			font-size: 28px;
			margin: 0px 0px 40px 0px;
		}
		@media (max-width: 319.99px) {
			font-size: 28px;
			text-align: center;
		}
	}
	// .why__sub-title
	&__sub-title {
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: 769px) {
			flex-wrap: wrap;
		}
	}
	// .why__col
	&__col {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		padding: 0px 15px 0px 15px;
		@media (max-width: 769px) {
			margin: 0px 0px 60px 0px;
		}
	}
	// .why__pic
	&__pic {
		text-align: center;
		margin: 0px 0px 55px 0px;
		@media (max-width: 426px) {
			transform: scale(0.8);
			margin: 0px 0px 0px 0px;
		}
	}
	// .why__name
	&__name {
		font-family: Montserrat;
		font-weight: 700;
		font-size: 35px;
		align-self: center;
		margin: 0px 0px 45px 0px;
		@media (max-width: 426px) {
			margin: 0px 0px 17px 0px;
		}
		@media (max-width: 320px) {
			font-size: 30px;
		}
	}
	// .why__text
	&__text {
		font-family: Montserrat;
		font-size: 20px;
		width: 270px;
		align-self: center;
		text-align: center;
	}
}

//================Section Our-services==============

.our-services-bg {
	background: #E8CCDB;
	width: 100%;
	height: 800px;
	position: relative;
	z-index: -1;
	margin: 0px 0px 60px 0px;
	@media (max-width: 991.99px) {
		height: 850px;
	}
	@media (max-width: 509.99px) {
		height: 1030px;
	}
	@media (max-width: 425.99px) {
		margin: 0px 0px 30px 0px;
	}

}

.our-services {
		// .our-services__title
		position: relative;
		&__title {
			font-family: Montserrat;
			font-weight: 700;
			font-size: 35px;
			margin: 0px 0px 90px 0px;
			padding: 85px 0px 0px 0px;
			@media (max-width: 991.99px) {
				margin: 0px 0px 75px 0px;
			}
		}
		//.our-services__tabs
		&__tabs {
			width: 100%;
			display: inline-flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 0px 0px 50px 0px;
			@media (max-width: 991.99px) {
				justify-content: center;
			}
		}
}
.tabs {
		// .tabs__choose
		&__choose {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 220px;
			padding: 27px 0px 27px 0px;
			margin: 0px 15px 15px 0px;
			position: relative;
			background: #fff;
			border-radius: 35px;
			font-family: Montserrat;
			font-weight: 800;
			text-align: center;
			background: #fff;
			:last-child{
				margin: 0px 0px 0px 0px;
			}
			a{
				position: relative;
				z-index: 1;
				color: #000;
			}
			&:before{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(to right, #ffa032, #fd9737,#f98e3c, #f68641, #f17e45);
				border-radius: 35px;
				opacity: 0;
				transition: all 0.4s ease 0s;
			}
				&:hover:before{
					opacity: 1;
				}
		}
}


 //===================slider===================
.swiper-button-prev {
	width: 40px!important;
	height: 40px!important;
	border-radius: 50%;
	background: #fff;
	top: 67%!important;
	&:after{display: none;}
	@media (max-width: 768.99px) {
		display:none!important;
	}
}
.swiper-container {
	margin: 0 auto;
	width: 860px;
	@media (max-width: 1196.99px) {
		width: 760px;
	}
	@media (max-width: 991.99px) {
		width: 560px;
	}
	@media (max-width: 582.99px) {
		width: 260px;
	}
	
}
.swiper-wrapper {
	padding: 0px 0px 50px 0px;
}
.swiper-slide {
}
.our-services {
		// .our-services__swiper-slide
		&__swiper-slide {
			display: flex;
			flex-direction: column;
			align-items: center;
			&__name{
				text-decoration: none;
				color: #000;
				font-weight: 600;
				border-radius: 0px 0px 50px 50px; 
				background: #fff;
				width: 150px;
				height: 30px;
				display: inline-block;
				text-align: center;
				position: relative;
				top: -10px;
				z-index: -1;
				padding-top: 8px;
			}
		}
}
.swiper-pagination {
}
.swiper-button-next {
	width: 40px!important;
	height: 40px!important;
	top: 67%!important;
	border-radius: 50%;
	background: #fff;
	&:after{display: none;}
	@media (max-width: 768.99px) {
		display:none!important;
	}
}

//==========================Our Photos==========================
.our-photos {
	// .our-photos__title
	&__title {
		font-family: Montserrat;
		font-weight: 700;
		font-size: 35px;
		margin: 0px 0px 50px 0px;
		@media (max-width: 425.99px) {
			text-align: center;
			margin: 0px 0px 20px 0px;
			font-size: 30px;
		}
	}
	// .our-photos__gallery
	&__gallery {
		height: 935px;
		display: grid;
		grid-gap: 10px;
		grid-template: repeat(4, 1fr)/repeat(4, 1fr);
		:nth-child(1){
			grid-area: 1/1/2/3;
		}
		:nth-child(2){
			grid-area: 1/3/3/4;
		}
		:nth-child(3){
			grid-area: 1/4/3/5;
		}
		:nth-child(4){
			grid-area: 2/1/5/3;
		}
		:nth-child(5){
			grid-area: 3/3/5/5;
		}
		@media (max-width: 770.99px) {
			height: 1200px;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);
			:nth-child(1){
				grid-area: 1/1/2/3;
			}
			:nth-child(2){
				grid-area: 1/3/2/4;
			}
			:nth-child(3){
				grid-area: 2/1/3/2;
			}
			:nth-child(4){
				grid-area: 2/2/3/4;
			}
			:nth-child(5){
				grid-area: 3/1/4/4;
			}
		}
		@media (max-width: 769.99px) {

		}
		@media (max-width: 376.99px) {
			height: 920px;
			grid-template: repeat(5, 177px)/1fr;
			grid-gap: 5px;
			:nth-child(1){
				grid-area: 1/1/2/2;
			}
			:nth-child(2){
				grid-area: 2/1/3/2;
			}
			:nth-child(3){
				grid-area: 3/1/4/2;
			}
			:nth-child(4){
				grid-area: 4/1/5/2;
			}
			:nth-child(5){
				grid-area: 5/1/6/2;
			}
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}


//=======================Section Company======================
.bg-company {
	background: #FDDFB9;
}
.company {
	margin: 0px 0px 100px 0px;
		// .company__title
		&__title {
			margin: 80px 0px 50px 0px;
			display: inline-flex;
			align-items: flex-end;
			@media (max-width: 768.99px) {
				display: flex;
				justify-content: center;
				margin: MAX(10.5vw, 20px) 0px MAX(6.5vw, 10px) 0px;
			}
		}
		// .company__sub-title
		&__sub-title {
		}
}
.title {
		// .title__text
		&__text {
			font-family: Montserrat;
			font-weight: 700;
			font-size: 35px;
			padding: 0px 0px 26px 0px;
			@media (max-width: 414.99px) {
				font-size: 19px;
				justify-self: flex-end;
			}
		}
}
.logo {
	@media (max-width: 414.99px) {
		transform: scale(0.5);
		position: relative;
		top: 14px;
	}
}
.sub-title {
	height: 390px;
	display: grid;
	grid-gap: 2px;
	grid-template: repeat(2, 1fr)/repeat(auto-fill, minmax(350px, 1fr));
	@media (max-width: 991.99px) {
		height: 450px;
	}
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	:nth-child(1){
		font-family: Montserrat;
		font-weight: 300;
		font-size: 27px;
		grid-area: 1/1/3/2;
		@media (max-width: 1196.99px) {
			font-size: 23px;
		}
	}
	:nth-child(2){
		grid-area: 1/2/3/3;
		padding: 0px 0px 0px 10px;	
		@media (max-width: 1197.99px) {
			justify-self: start;
			padding: 0px 0px 0px 0px;
		}
		
	}
	:nth-child(3){
		grid-area: 1/3/2/5;
		justify-self: start;
	}
	:nth-child(4){
		grid-area: 2/3/3/5;
	}
	@media (max-width: 991.99px) {

		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr 1fr;
		:nth-child(1){
			font-size: MAX(2.7vw, 16px);
			grid-area: 1/1/2/3;
			margin: 0px 0px 20px 0px;
		}
		:nth-child(2){
			grid-area: 2/1/4/2;
		}
		:nth-child(3){
			grid-area: 2/2/3/3;
		}
		:nth-child(4){
			grid-area: 3/2/4/3;
		}	
	}
}

.bg-form {
	background: #000;
	@media (max-width: 991.99px) {
		padding: 0px 0px 0px 0px;
	}
}

.contacts {
}
.flex-container{
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	justify-content: space-around;
	@media (max-width: 661.99px) {
		justify-content: flex-start;
	}
	input{
		max-width: 400px;
		@media (max-width: 991.99px) {
			max-width: 300px;
		}
		@media (max-width: 661.99px) {
			max-width: 350px;
		}
	}
	// &>:nth-child(2n){
	// 	margin: 0px 0px 0px 150px;
	// }
}
.contact {
		// .contact_form
		&_form {
		}
		// .contact_title
		&_title {font-family: Montserrat;
			font-weight: 700;
			font-size: 35px;
			color: #fff;
			margin: 80px 0px 110px 0px;
			@media (max-width: 991.99px) {
				text-align: center;
				margin: 60px 0px 60px 0px;
				font-size: 30px;
			}
			@media (max-width: 493.99px) {
				font-size: 25px;
			}
		}
		// .contact__name
		&__name {
			font-family: Montserrat;
			font-size: 35px;
			color: #fff;
			background: #000;
			border-bottom: 1px solid #fff;
			@media (max-width: 991.99px) {
				font-size: 30px;
			}
			@media (max-width: 661.99px) {
				font-size: 27px;
			}
			@media (max-width: 493.99px) {
				font-size: 20px;
				width: 250px;
			}
		}
		// .contact__phone
		&__phone {
			font-family: Montserrat;
			font-size: 35px;
			color: #fff;
			background: #000;
			border-bottom: 1px solid #fff;
			@media (max-width: 991.99px) {
				font-size: 30px;
			}
			@media (max-width: 661.99px) {
				margin: 30px 0px 0px 0px;
			}
			@media (max-width: 493.99px) {
				font-size: 20px;
				width: 250px;
			}
			
		}
		// .contact__email
		&__email {
			font-family: Montserrat;
			font-size: 35px;
			color: #fff;
			background: #000;
			margin: 170px 0px 0px 0px;
			border-bottom: 1px solid #fff;
			@media (max-width: 991.99px) {
				font-size: 30px;
				margin: 80px 0px 0px 0px;
			}
			@media (max-width: 661.99px) {
				margin: 30px 0px 0px 0px;
				font-size: 27px;
			}
			@media (max-width: 493.99px) {
				font-size: 20px;
				width: 250px;
			}
		}
		// .contact__title
		&__title {
			font-family: Montserrat;
			font-size: 35px;
			color: #fff;
			background: #000;
			margin: 170px 0px 0px 0px;
			border-bottom: 1px solid #fff;
			@media (max-width: 991.99px) {
				font-size: 30px;
				margin: 80px 0px 0px 0px;
			}
			@media (max-width: 661.999px) {
				margin: 30px 0px 0px 0px;
				font-size: 27px;
			}
			@media (max-width: 493.99px) {
				font-size: 20px;
				width: 250px;
			}
		}
		// .contact__text
		&__text {
			font-family: Montserrat;
			font-size: 35px;
			color: #fff;
			background: #000;
			border-bottom: 1px solid #fff;
			@media (max-width: 991.99px) {
				font-size: 30px;
			}
			@media (max-width: 661.99px) {
				width: 350px;
				font-size: 27px;
			}
			@media (max-width: 493.99px) {
				font-size: 20px;
				width: 250px;
			}
		}
		// .contact__submit
		&__submit {
			@include btn-reset;
			background: url(../img/submit_arrow.png) center center no-repeat #FFBE5E;
			width: 74px;
			height: 74px;
			border-radius: 50%;
			margin: 0px 0px 0px 60px;
			@media (max-width: 540.99px) {
				display: none;
			}
			&_text {
				display: none;
				@media (max-width: 540.99px) {
				display: block;
				border-radius: 20px 20px 20px 20px; 
				height: 50px;
				width: 120px;
				margin: 30px 0px 0px 110px;
				background: #FFBE5E;
				font-size: 15px;
				font-weight: 500;
				@media (max-width: 493.99px) {
					margin: 30px 0px 0px 70px;
				}
				}
			}
		}

		
		
}
.flex-container-submit{
	display: flex;
	justify-content: center;
	margin: 100px 0px 0px 0px;
	@media (max-width: 991.99px) {
		justify-content: flex-end;
	}
	@media (max-width: 661.99px) {
		justify-content: flex-start;
	}
	@media (max-width: 540.99px) {
		flex-direction: column;
	}
}

.checkbox-label{
	margin: 40px 0px 50px 25px;
	display: block;
	span{
		padding: 1px 0 0 5px;
	}
	&+ .checkbox-label{
		@media (max-width: 991.99px) {
			margin: 0px 0px 50px 25px;
		}
	}
	:nth-child(3){
		text-decoration: none;
		color: #fff;
		display: inline-block;
	}
}


.checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	padding-left: 20px;
	:checked + &__style:before{
		content: "";
		width: 8px;
		height: 8px;
		background: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
		// .checkbox__style
		&__style {
			position: absolute;
			width: 16px;
			height: 16px;
			border: 2px solid #fff;
			left: 30px;
		}
}
.required {
	color: #ff0000;
	font-weight: bold;
}
.sr-only {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.gap {
	width: 100%;
	height: 10px;
	background: #fff;
}
.bg-footer {
}
.flex-footer{
	height: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 768.99px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		height: 150px;
	}
	a{
		@media (max-width: 768.99px) {
			grid-area: 1/1/3/2;
		}
	}
}
.img {
	justify-self: start;
	@media (max-width: 768.99px) {
		transform: scale(0.6);
	}
	@media (max-width: 425.99px) {
		margin: 0px 0px 0px -30px;
	}
}
.control-container{
	@media (max-width: 764.99px) {
		justify-self: end;
	}
	@media (max-width: 425.99px) {
		margin: 0px -65px 0px 0px;	
	}
}
.rights {
	color: #fff;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 15px;
	padding: 30px 0px 0px 0px;
	@media (max-width: 768.99px) {
		@include dynamic-value("margin-left", 153, 0, 768, 320);
		margin-top: 25px;
		font-size: 10px;
	}
}
.phone {
	display: flex;
	width: 200px;
	margin: 30px 0px 0px 0px;
	@media (max-width: 768.99px) {
		@include dynamic-value("margin-left", 153, 0, 768, 320);
		margin-top: -35px;
	}
		// .phone__img
		&__img {
			@media (max-width: 768.99px) {
				transform: scale(0.5);
				position: relative;
				top: -2px;
			}
		}
		// .phone__number
		&__number{
			color: #fff;
			font-family: Montserrat;
			font-weight: 500;
			font-size: 15px;
			margin: 14px 0px 0px 0px;
			@media (max-width: 768.99px) {
			margin: 10px 0px 0px 0px;
			font-size: 10px;
		}
		}
		
}
