//<МИКСИНЫ>===============================================================================================
@import "mixins";

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap);

//<Иконочные шрифты>==========================================================================================


//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";

//<ПЕРЕМЕННЫЕ>===========================================================================================================

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1184;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 15px;
	&._lock {
		overflow: hidden;
	}
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	width: 100%;
	padding: 0 20px;
	@media (max-width: $md1+px) {
		max-width: 970px;
		padding: 0 20px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
		padding: 0 20px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 20px;
	}
}


//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
@media (max-width: 769px) {
		body.lock{
			overflow: hidden;
		}
	
		.main__burger {
			display: block;
			width: 40px;
			height: 30px;
			position: absolute;
			z-index: 3;
			right: 60px;
			top: 95px;
			background: transparent;
			@media (max-width: 426px) {
				right: 20px;
			}
		}
		.main__burger span{
			position: absolute;
			background-color: #fff;
			position: absolute;
			left: 0;
			width: 100%;
			height: 4px;
			top: 13px;
			transition: all 0.3s ease 0s;
		}
		.main__burger:before,
		.main__burger:after{
			content: '';
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 4px;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		.main__burger:before{
			top: 0;
		}
		.main__burger:after{
			bottom: 0;
		}
	
		.main__burger.active span{
			transform: scale(0);
		}
	
		.main__burger.active:before{
			transform:rotate(45deg);
			top: 13px;
		}
		.main__burger.active:after{
			transform:rotate(-45deg);
			bottom: 13px;
		}
	
		.main-navigation {
			z-index: 2;
			position: fixed;
			max-width: 100%;
			top: -120%;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			transition: all 0.3s ease 0s;
			background-color: #000;
			opacity: 0.9;
			padding: 70px 10px 20px 10px;
			display: flex;
			@media (max-width: 769px) {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
			}
		}
	
		.main-navigation.active{
			top: -36px;
		}
	
		.main-navigation__list {
			display: block;
		}
		.menu-item{
			padding: 0 0 50px 0;
		}
		.main-navigation__list a{
			font-weight: 800;
			font-size: 35px;
			color: #fff;
		}
		.menu-item {
			font-size: 24px;
		}
	}

.container {
	position: relative;
}
.bg-grad {
	width: 100%;
	height: 800px;
	position: absolute;
	z-index: -2;
	background: url(../img/Banner_photo.png) right bottom/750px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
	@media (max-width: 2561px) {
		background: url(../img/Banner_photo.png) 1200px bottom/700px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
	}
	@media (max-width: 1441px) {
		background: url(../img/Banner_photo.png) right bottom/700px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
	}
	@media (max-width: 1025px) {
		background: url(../img/Banner_photo.png) right bottom/600px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
	}
	@media (max-width: 769px) {
		background: url(../img/Banner_photo.png) right bottom/550px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
	}
	@media (max-width: 426px) {
		background: url(../img/Banner_photo.png) right bottom/380px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
	}
	@media (max-width: 321px) {
		background: url(../img/Banner_photo.png) right bottom/320px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
	}
}

.main-header {
	display: flex;
	align-items: center;
	margin: 50px 0px 235px 0px;
	justify-content: space-between;
	@media (max-width: 1025px) {
		margin: 50px 0px 150px 0px;
	}
	@media (max-width: 769px) {
		margin: 0px 0px 100px 0px;
	}
	@media (max-width: 426px) {
		margin: 50px 0px 60px 0px;
	}
		// .main-header__logo
		&__logo {
			flex: 0 1 auto;
			margin: 0px 200px 0px 0px;
			@media (max-width: 1024px) {
				margin: 0px 100px 0px 0px;
			}
			@media (max-width: 769px) {
				position: relative;
				left: 50px;
				top: 50px;
				z-index: 3;
			}
			@media (max-width: 426px) {
				position: static;
				flex: 1 1 auto;
			}
		}
		// .main-header__widget
		&__widget {}
}
.header {
		// .header__burger
		&__burger {}
}
.main-navigation {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	margin: 36px 0px 0px 0px;
		// .main-navigation__list
		&__list {
			display: flex;
			:last-child{
				margin: 0px 0px 0px 0px;
			}
			@media (max-width: 1024px) {
				:last-child{
					margin: 0px 40px 0px 0px;
					@media (max-width: 769px) {
						margin: 0px 0px 0px 0px;
					}
				}	
			}
			a{
				text-decoration: none;
				color: #000;
			}
		}
}
.menu-item {
	margin: 0px 50px 0px 0px;
	@media (max-width: 1024px) {
		margin: 0px 15px 0px 0px;
	}
	@media (max-width: 769px) {
		padding: 0 0 50px 0;
		margin: 0px 0px 0px 0px;
	}
}
.widget-contacts {
		// .widget-contacts__logo
		&__logo {
			@media (max-width: 769px) {
				display: none;
			}
		}
		// .widget-contacts__phone
		&__phone {
			text-decoration: none;
			color: #000;
			font-family: Montserrat;
			font-weight: 500;
			@media (max-width: 769px) {
				color: #fff;
				font-size: 24px;
				font-weight: 800;
			}
		}
}
.intro {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	margin: 0px 0px 355px 0px;
	@media (max-width: 1024px) {
		margin: 0px 0px 440px 0px;
	}
	@media (max-width: 769px) {
		margin: 0px 0px 540px 0px;
	}
	@media (max-width: 426px) {
		margin: 0px 0px 440px 0px;
		align-items: center;
	}
	@media (max-width: 320px) {
		margin: 0px 0px 360px 0px;
	}
		// .intro__slogan
		&__slogan {
			font-family: Montserrat;
			font-weight: 700;
			font-size: 35px;
			margin: 0px 0px 30px 0px;
			@media (max-width: 426px) {
				display: none;
			}
		}
		// .intro__slogan2
		&__slogan2{
			font-family: Montserrat;
			font-weight: 700;
			font-size: 35px;
			display: none;
			text-align: center;
			@media (max-width: 426px) {
				display: block;
			}
		}
		&__slogan3{
			font-family: Montserrat;
			font-weight: 700;
			font-size: 35px;
			margin: 0px 0px 30px 0px;
			display: none;
			text-align: center;
			@media (max-width: 426px) {
				display: block;
			}
		}
		// .intro__title
		&__title {
			font-family: Montserrat;
			font-weight: 300;
			font-size: 16px;
			margin: 0px 0px 30px 0px;
			width: 350px;
			@media (max-width: 426px) {
				text-align: center;
			}
			@media (max-width: 321px) {
				width: 275px;
				text-align: center;
			}
		}
		// .intro__service-btn
		&__service-btn {
			display: inline-flex;
		}
}
.service-btn {
	@include btn-reset;
	@include btn-active;
	background: #fff;
	padding: 0px 26px 0px 26px;
	line-height: 59px;
	border-radius: 35px;
	font-family: Montserrat;
	font-weight: 800;
}

.btn_active{
	background: linear-gradient(to right, #ffa032, #fd9737, #f98e3c, #f68641, #f17e45);
}

//================Section why==============
.why {
	display: flex;
	flex-direction: column;
	margin: 0px 0px 245px 0px;
	// .why__title
	&__title {
		margin: 0px 0px 180px 0px;
		font-family: Montserrat;
		font-weight: 700;
		font-size: 35px;
		@media (max-width: 769px) {
			align-self: center;
			margin: 0px 0px 80px 0px;
		}
		@media (max-width: 426px) {
			font-size: 30px;
			margin: 0px 0px 40px 0px;
		}
		@media (max-width: 320px) {
			font-size: 28px;
			text-align: center;
		}
	}
	// .why__sub-title
	&__sub-title {
		display: flex;
		@media (max-width: 769px) {
			flex-wrap: wrap;
		}
	}
	// .why__col
	&__col {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		@media (max-width: 769px) {
			margin: 0px 0px 60px 0px;
		}
	}
	// .why__pic
	&__pic {
		text-align: center;
		margin: 0px 0px 55px 0px;
		@media (max-width: 426px) {
			transform: scale(0.8);
			margin: 0px 0px 0px 0px;
		}
	}
	// .why__name
	&__name {
		font-family: Montserrat;
		font-weight: 700;
		font-size: 35px;
		align-self: center;
		margin: 0px 0px 45px 0px;
		@media (max-width: 426px) {
			margin: 0px 0px 17px 0px;
		}
		@media (max-width: 320px) {
			font-size: 30px;
		}
	}
	// .why__text
	&__text {
		font-family: Montserrat;
		font-size: 20px;
		width: 270px;
		align-self: center;
		text-align: center;
	}
}

//================Section Our-services==============

.our-services-bg {
	background: #E8CCDB;
	width: 100%;
	height: 900px;
	position: relative;
	z-index: -1;

}

.our-services {
		// .our-services__title
		position: relative;
		&__title {
			font-family: Montserrat;
			font-weight: 700;
			font-size: 35px;
			margin: 0px 0px 90px 0px;
			padding: 85px 0px 0px 0px;
			@media (max-width: 991.99px) {
				margin: 0px 0px 75px 0px;
			}
		}
		//.our-services__tabs
		&__tabs {
			margin: 0px 0px 50px 0px;
			display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
		}
		//our-services__swiper-button-prev
		&__swiper-button-prev{
			display: flex;
			border-radius: 50%;
			background: #fff;
			&:after{display: none;}
			@media (max-width: 1197px) {
				left: -20px!important;
			}
		}
		//our-services__swiper-button-next
		&__swiper-button-next{
			display: flex;
			border-radius: 50%;
			background: #fff;
			&:after{display: none;}
			@media (max-width: 1197px) {
				right: -20px!important;
			}
		}
		//our-services__swiper-pagination
		&__swiper-pagination{
			position: absolute;
			left: 50%;
			bottom: 70px!important;
		}
		.swiper-button-next, .swiper-button-prev{
			width: 40px;
			height: 40px;
			margin-top: 0;
			top: 56%;
			@media (max-width: 991.99px) {
				top: 63%;
			}
		}
}
.tabs {

		// .tabs__choose
		&__choose {
			@media (max-width: 992px) {
				margin: 0px 0px 20px 0px;
			}
			
			transition: all 1s ease 0s;
			:hover{
				transition: all 1s ease 0s;
				background: linear-gradient(to right, #ffa032, #fd9737, #f98e3c, #f68641, #f17e45);
			}
			a{
				display: inline-block;
				width: 240px;
				text-align: center;
				margin: 0px 10px 0px 0px;
				@media (max-width: 1197px) {
					width: 190px;
					font-size: 11px;
				}
			}
		}
}
.our-services__swiper-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin: 0px 0px 50px 0px;	
	height: 500px;
	max-width: 900px;
}

.our-services__swiper-wrapper{
	margin: 0px -50px 0px -50px;
}

.our-services__swiper-slide {
		padding: 0px 80px;
		display: inline-flex;
		flex-direction: column;
		@media (max-width: 1197px) {
			padding: 0px 70px;
		}
		@media (max-width: 991.99px) {
			padding: 0px 115px
		}


		// .our-services__swiper-slide__pic
		&__pic {
			img{
				display: inline-block;
				max-width: 212%;
				min-width: 190px;
			}
		}
		// .our-services__swiper-slide__name
		&__name {
			font-family: Montserrat;
			font-weight: 500;
			background: #fff;
			width: 150px;
			height: 30px;
			border-radius: 0px 0px 23px 23px;
			text-align: center;
			position: relative;
			z-index: -1;
			top: -7px;
			padding: 8px 0px 0px 0px;
			left: 50px;
			color: #000;
			@media (max-width: 619.99px){
				left: 19px;
			}
			@media (max-width: 425.99px) {
				left: 50px;
			}
		}
}

//==========================Our Photos==========================
.our-photos {
	// .our-photos__title
	margin: 0px 0px 50px 0px;
	&__title {
		font-family: Montserrat;
		font-weight: 700;
		font-size: 35px;
	}
	// .our-photos__gallery
	&__gallery {
		width: 1144px;
		height: 736px;
		display: grid;
		grid-template-columns: repeat(4, 286px);
		grid-template-rows: repeat(4, 184px);
	}
	&__img1{
		grid-area: 1/1/2/3;
	}
	&__img2{
		grid-area: 1/3/3/4;
		margin-left: -15px;
	}
	&__img3{
		grid-area: 1/4/3/5;
		margin-left: 16px;
	}
	&__img4{
		grid-area: 2/1/5/3;
		margin-top: 53px;
	}
	&__img5{
		grid-area: 3/3/5/5;
	}
	// .our-photos__img
	&__img {
		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

