@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;

300;400;500;600;700;800;900&display=swap);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 15px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  position: relative;
}

.bg-grad {
  width: 100%;
  height: 800px;
  position: absolute;
  z-index: -2;
  background: url(../img/Banner_photo.png) right bottom/750px no-repeat, -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a));
  background: url(../img/Banner_photo.png) right bottom/750px no-repeat, -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
  background: url(../img/Banner_photo.png) right bottom/750px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px 235px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 0px 200px 0px 0px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 36px 0px 0px 0px;
}

.main-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation__list :last-child {
  margin: 0px 0px 0px 0px;
}

.main-navigation__list a {
  text-decoration: none;
  color: #000;
}

.menu-item {
  margin: 0px 50px 0px 0px;
}

.widget-contacts__phone {
  text-decoration: none;
  color: #000;
  font-family: Montserrat;
  font-weight: 500;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 355px 0px;
}

.intro__slogan {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  margin: 0px 0px 30px 0px;
}

.intro__slogan2 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  display: none;
  text-align: center;
}

.intro__slogan3 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  margin: 0px 0px 30px 0px;
  display: none;
  text-align: center;
}

.intro__title {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  margin: 0px 0px 30px 0px;
  width: 350px;
}

.intro__service-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.service-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background: #fff;
  padding: 17px CLAMP(10px, 1.56vw, 30px) 17px CLAMP(10px, 1.56vw, 30px);
  border-radius: 35px;
  font-family: Montserrat;
  font-weight: 800;
  text-align: center;
}

.service-btn::-moz-focus-outer {
  border: 0;
  padding: 0;
}

.service-btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.service-btn:active {
  -webkit-transform: translate(1px, 1px);
      -ms-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
}

.btn_active {
  background: -webkit-gradient(linear, left top, right top, from(#ffa032), color-stop(#fd9737), color-stop(#f98e3c), color-stop(#f68641), to(#f17e45));
  background: -o-linear-gradient(left, #ffa032, #fd9737, #f98e3c, #f68641, #f17e45);
  background: linear-gradient(to right, #ffa032, #fd9737, #f98e3c, #f68641, #f17e45);
}

.why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 245px 0px;
}

.why__title {
  margin: 0px 0px 180px 0px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
}

.why__sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.why__pic {
  text-align: center;
  margin: 0px 0px 55px 0px;
}

.why__name {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0px 0px 45px 0px;
}

.why__text {
  font-family: Montserrat;
  font-size: 20px;
  width: 270px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.our-services-bg {
  background: #E8CCDB;
  width: 100%;
  height: 800px;
  position: relative;
  z-index: -1;
  margin: 0px 0px 60px 0px;
}

.our-services {
  position: relative;
}

.our-services__title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  margin: 0px 0px 90px 0px;
  padding: 85px 0px 0px 0px;
}

.our-services__tabs {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 50px 0px;
}

.tabs__choose {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.tabs__choose :hover {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  background: -webkit-gradient(linear, left top, right top, from(#ffa032), color-stop(#fd9737), color-stop(#f98e3c), color-stop(#f68641), to(#f17e45));
  background: -o-linear-gradient(left, #ffa032, #fd9737, #f98e3c, #f68641, #f17e45);
  background: linear-gradient(to right, #ffa032, #fd9737, #f98e3c, #f68641, #f17e45);
}

.tabs__choose a {
  display: inline-block;
  width: CLAMP(180px, 20vw, 250px);
  text-align: center;
  margin: 0px 10px 0px 0px;
}

.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background: #fff;
  top: 67% !important;
}

.swiper-button-prev:after {
  display: none;
}

.swiper-container {
  margin: 0 auto;
  width: 860px;
}

.swiper-wrapper {
  padding: 0px 0px 50px 0px;
}

.our-services__swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-services__swiper-slide__name {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  border-radius: 0px 0px 50px 50px;
  background: #fff;
  width: 150px;
  height: 30px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -10px;
  z-index: -1;
  padding-top: 8px;
}

.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  top: 67% !important;
  border-radius: 50%;
  background: #fff;
}

.swiper-button-next:after {
  display: none;
}

.our-photos__title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  margin: 0px 0px 50px 0px;
}

.our-photos__gallery {
  height: 935px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr);
}

.our-photos__gallery :nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
}

.our-photos__gallery :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/3/4;
}

.our-photos__gallery :nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1/4/3/5;
}

.our-photos__gallery :nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/5/3;
}

.our-photos__gallery :nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3/3/5/5;
}

.our-photos__gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-company {
  background: #FDDFB9;
}

.company {
  margin: 0px 0px 100px 0px;
}

.company__title {
  margin: 80px 0px 50px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.title__text {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35px;
  padding: 0px 0px 26px 0px;
}

.sub-title {
  height: 390px;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}

.sub-title img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub-title :nth-child(1) {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 27px;
  padding: 0px 10px 0px 0px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/3/2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.sub-title :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/3/3;
}

.sub-title :nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1/3/2/5;
}

.sub-title :nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 2/3/3/5;
}

@media (max-width: 2561px) {
  .bg-grad {
    background: url(../img/Banner_photo.png) 1200px bottom/700px no-repeat, -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a));
    background: url(../img/Banner_photo.png) 1200px bottom/700px no-repeat, -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
    background: url(../img/Banner_photo.png) 1200px bottom/700px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
  }
}

@media (max-width: 1441px) {
  .bg-grad {
    background: url(../img/Banner_photo.png) right bottom/700px no-repeat, -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a));
    background: url(../img/Banner_photo.png) right bottom/700px no-repeat, -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
    background: url(../img/Banner_photo.png) right bottom/700px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
  }
}

@media (max-width: 1197px) {
  .tabs__choose a {
    width: 190px;
    font-size: 11px;
  }
}

@media (max-width: 1196px) {
  .container {
    max-width: 970px;
    padding: 0 20px;
  }
}

@media (max-width: 1196.99px) {
  .swiper-container {
    width: 760px;
  }

  .sub-title :nth-child(1) {
    font-size: 23px;
  }
}

@media (max-width: 1025px) {
  .bg-grad {
    background: url(../img/Banner_photo.png) right bottom/600px no-repeat, -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a));
    background: url(../img/Banner_photo.png) right bottom/600px no-repeat, -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
    background: url(../img/Banner_photo.png) right bottom/600px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
  }

  .main-header {
    margin: 50px 0px 150px 0px;
  }
}

@media (max-width: 1024px) {
  .main-header__logo {
    margin: 0px 100px 0px 0px;
  }

  .main-navigation__list :last-child {
    margin: 0px 40px 0px 0px;
  }

  .menu-item {
    margin: 0px 15px 0px 0px;
  }

  .intro {
    margin: 0px 0px 440px 0px;
  }
}

@media (max-width: 1024px) and (max-width: 769px) {
  .main-navigation__list :last-child {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 992px) {
  .tabs__choose {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
    padding: 0 20px;
  }
}

@media (max-width: 991.99px) {
  .our-services-bg {
    height: 850px;
  }

  .our-services__title {
    margin: 0px 0px 75px 0px;
  }

  .swiper-container {
    width: 560px;
  }

  .sub-title {
    height: 400px;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .sub-title :nth-child(1) {
    font-size: MAX(2.7vw, 16px);
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/2/3;
  }

  .sub-title :nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/4/2;
  }

  .sub-title :nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }

  .sub-title :nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3/2/4/3;
  }
}

@media (max-width: 769px) {
  body.lock {
    overflow: hidden;
  }

  .main__burger {
    display: block;
    width: 40px;
    height: 30px;
    position: absolute;
    z-index: 3;
    right: 60px;
    top: 95px;
    background: transparent;
  }

  .main__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    top: 13px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .main__burger:before,
  .main__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .main__burger:before {
    top: 0;
  }

  .main__burger:after {
    bottom: 0;
  }

  .main__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .main__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 13px;
  }

  .main__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 13px;
  }

  .main-navigation {
    z-index: 2;
    position: fixed;
    max-width: 100%;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
    opacity: 0.9;
    padding: 70px 10px 20px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-navigation.active {
    top: -36px;
  }

  .main-navigation__list {
    display: block;
  }

  .menu-item {
    padding: 0 0 50px 0;
  }

  .main-navigation__list a {
    font-weight: 800;
    font-size: 35px;
    color: #fff;
  }

  .menu-item {
    font-size: 24px;
  }

  .bg-grad {
    background: url(../img/Banner_photo.png) right bottom/550px no-repeat, -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a));
    background: url(../img/Banner_photo.png) right bottom/550px no-repeat, -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
    background: url(../img/Banner_photo.png) right bottom/550px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
  }

  .main-header {
    margin: 0px 0px 100px 0px;
  }

  .main-header__logo {
    position: relative;
    left: 50px;
    top: 50px;
    z-index: 3;
  }

  .menu-item {
    padding: 0 0 50px 0;
    margin: 0px 0px 0px 0px;
  }

  .widget-contacts__logo {
    display: none;
  }

  .widget-contacts__phone {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
  }

  .intro {
    margin: 0px 0px 540px 0px;
  }

  .why__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0px 0px 80px 0px;
  }

  .why__sub-title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .why__col {
    margin: 0px 0px 60px 0px;
  }
}

@media (max-width: 769px) and (max-width: 426px) {
  .main__burger {
    right: 20px;
  }
}

@media (max-width: 769px) and (max-width: 769px) {
  .main-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media (max-width: 769.99px) {
  .our-photos__gallery {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[4];
    grid-template-rows: repeat(4, 1fr);
  }

  .our-photos__gallery :nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/2/3;
  }

  .our-photos__gallery :nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1/3/2/4;
  }

  .our-photos__gallery :nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }

  .our-photos__gallery :nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 2/2/3/4;
  }

  .our-photos__gallery :nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 3/1/4/4;
  }
}

@media (max-width: 768.99px) {
  .swiper-button-prev {
    display: none !important;
  }

  .swiper-button-next {
    display: none !important;
  }

  .company__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: MAX(10.5vw, 20px) 0px MAX(6.5vw, 10px) 0px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}

@media (max-width: 582.99px) {
  .swiper-container {
    width: 260px;
  }
}

@media (max-width: 439.99px) {
  .our-services-bg {
    height: 950px;
  }
}

@media (max-width: 426px) {
  .bg-grad {
    background: url(../img/Banner_photo.png) right bottom/380px no-repeat, -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a));
    background: url(../img/Banner_photo.png) right bottom/380px no-repeat, -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
    background: url(../img/Banner_photo.png) right bottom/380px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
  }

  .main-header {
    margin: 50px 0px 60px 0px;
  }

  .main-header__logo {
    position: static;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .intro {
    margin: 0px 0px 440px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro__slogan {
    display: none;
  }

  .intro__slogan2 {
    display: block;
  }

  .intro__slogan3 {
    display: block;
  }

  .intro__title {
    text-align: center;
  }

  .why__title {
    font-size: 30px;
    margin: 0px 0px 40px 0px;
  }

  .why__pic {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    margin: 0px 0px 0px 0px;
  }

  .why__name {
    margin: 0px 0px 17px 0px;
  }
}

@media (max-width: 425.99px) {
  .our-services-bg {
    margin: 0px 0px 30px 0px;
  }

  .our-photos__title {
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-size: 30px;
  }
}

@media (max-width: 414.99px) {
  .title__text {
    font-size: 19px;
    justify-self: flex-end;
  }

  .logo {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    position: relative;
    top: 14px;
  }
}

@media (max-width: 375.99px) {
  .our-photos__gallery {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (177px)[5];
    grid-template-rows: repeat(5, 177px);
    grid-gap: 5px;
  }

  .our-photos__gallery :nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }

  .our-photos__gallery :nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }

  .our-photos__gallery :nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }

  .our-photos__gallery :nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/5/2;
  }

  .our-photos__gallery :nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 5/1/6/2;
  }
}

@media (max-width: 321px) {
  .bg-grad {
    background: url(../img/Banner_photo.png) right bottom/320px no-repeat, -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a));
    background: url(../img/Banner_photo.png) right bottom/320px no-repeat, -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
    background: url(../img/Banner_photo.png) right bottom/320px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a);
  }

  .intro__title {
    width: 275px;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .intro {
    margin: 0px 0px 360px 0px;
  }

  .why__title {
    font-size: 28px;
    text-align: center;
  }

  .why__name {
    font-size: 30px;
  }
}

._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/750px no-repeat, -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a)); }

._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/750px no-repeat, -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a); }

._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/750px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a); }

@media (max-width: 2561px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) 1200px bottom/700px no-repeat, -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a)); }
}

@media (max-width: 2561px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) 1200px bottom/700px no-repeat, -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a); }
}

@media (max-width: 2561px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) 1200px bottom/700px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a); }
}

@media (max-width: 1441px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/700px no-repeat, -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a)); }
}

@media (max-width: 1441px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/700px no-repeat, -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a); }
}

@media (max-width: 1441px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/700px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a); }
}

@media (max-width: 1025px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/600px no-repeat, -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a)); }
}

@media (max-width: 1025px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/600px no-repeat, -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a); }
}

@media (max-width: 1025px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/600px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a); }
}

@media (max-width: 769px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/550px no-repeat, -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a)); }
}

@media (max-width: 769px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/550px no-repeat, -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a); }
}

@media (max-width: 769px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/550px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a); }
}

@media (max-width: 426px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/380px no-repeat, -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a)); }
}

@media (max-width: 426px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/380px no-repeat, -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a); }
}

@media (max-width: 426px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/380px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a); }
}

@media (max-width: 321px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/320px no-repeat, -webkit-gradient(linear, left top, right bottom, from(#fbba64), color-stop(#fea271), color-stop(#f58f81), color-stop(#e28190), to(#c6799a)); }
}

@media (max-width: 321px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/320px no-repeat, -o-linear-gradient(left top, #fbba64, #fea271, #f58f81, #e28190, #c6799a); }
}

@media (max-width: 321px){
  ._webp .bg-grad{ background: url(../img/Banner_photo.webp) right bottom/320px no-repeat, linear-gradient(to right bottom, #fbba64, #fea271, #f58f81, #e28190, #c6799a); }
}